<h2>Products</h2>


<mat-card class="card" *ngFor="let product of products">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <button mat-button [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
            {{product.name}}
        </button>
    </mat-card-title>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="A Photo of a Phone">


    <mat-card-content>
        <p *ngIf="product.description">
            Description: {{ product.description }}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button (click)="share()" fxFlex="50%">Share</button>
        <app-products-alert [product]="product" (notify)="onNotify()" fxFlex="50%">
        </app-products-alert>
    </mat-card-actions>
</mat-card>